@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

:root {
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --green: #28a745;
    --grey: #0f0f0f;
    --silver:#0d0d0d;
}
.text-center {
    text-align: center;
}

.text-none {
    text-decoration: none;
}
.text-start{
    text-align: start;
}

.text-white {
    color: #ffffff;
}

.bg-red {
    background-color: var(--red);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.bg-green {
    background-color: var(--green);
}
.bg-grey {
    background-color: var(--grey);
}
.bg-silver{
    background-color: var(--silver);
}
.text-red {
    color: var(--red);
}
.text-white {
    color: var(--white);
}
.text-black {
    color: var(--black);
}
.text-green {
    color: var(--green);
}
.text-grey {
    color: var(--grey);
}
.img-round{
    border-radius: 15px;
}
.color{
    color:  rgb(193 193 193);
    line-height: 21px;
    letter-spacing: 0.03rem;
}
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap
}


.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}

.flex-column{
    flex-direction: column;
} 

.flex-row{
    flex-direction: row;
}
m-2{
    margin: 10px;
}
m-3{
    margin: 15px;
}
m-4{
 margin-right: 20px;
}
m-5{
    margin: 25px;
}
.border{
    border: 1px solid var(--white);
}
.border-2{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 4rem;
    gap: 5px;
}
.rounded{
    border-radius: 30px;
    cursor: pointer;
}
.padding{
    padding: 0px 19px;
}
.margin{
    margin: 24px 38px 0px;
}
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak/futurak.ttf);
}
.futurak{
    font-family: futurak;
}
.font-size{
    font-size: 40px;
}
p{
    font-size: 16px;
}
@font-face{
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
.btn-child{
    font-family: inter;
}
.size2{
    font-size: 26px;
}
@font-face {
    font-family: appercu;
    src: url(../fonts/Apercu-Font/Apercu\ Regular.otf);
}
@font-face {
    font-family: futura;
    src: url(../fonts/futura-black-bold_rgd22/Futura-Black\ Bold/);
}
.appercu{
    font-family: appercu;
}
.butler{
    font-family: butler;
    font-size: 48px;
}
.two{
    font-size: 32px;
    font-family: futurak;
    margin:0px 0px 24px;
}
.size-margin{
    font-size: 16px;
    margin: 0px 0px 24px;
}
h5{
    font-size: 32px;
    font-family: appercu;
    margin: 0px 0px 24px;
}
.loaction-num{
    font-family: appercu;
    font-size: 16px;
    font-family: appercu;
    margin: 0px 0px 16px;
}
.pointer{
    cursor: pointer;
}
.f-size{
    font-size: 24px;
}
.font-size1{
    font-size: 32px;
}
.font-size2{
    font-size: 52px;
}
.small{
    font-size: 15px;
}
.size{
    font-size: 32px;
}
.width-height{
    width: 295px;
    height: 295px;
}
.othersize{
    font-size: 21px;
    font-family: futura;
}
.flex-row{
    flex-direction: column;
}
.display{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.size-3{
    font-size: larger;
}
.bold{
    font-weight: bolder;
}
.footer-size{
    font-size: 22px;
}
.p-72{
    padding: 72px;
    line-height: 46px;
}
.width-height2{
    width: 300px;
    height: 440px;
    border-radius: 5px;
}
.img-height{
    width: 330px;
    height: 100px;
}